{% extends 'base.html' %}

{% block title %}
    {{ forum.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Forums</a></li>
    <li class="breadcrumb-item active">{{ forum.name }}</li>
{% endblock %}

{% block content %}
    <div class="mb-4">
        <a href="{% url 'new_topic' forum.pk %}" class="btn btn-primary">Create new topic</a>
    </div>

    <table class="table mb-4">
        <thead class="thead-inverse">
            <tr>
                <th>Topic</th>
                <th>Opener</th>
                <th>Replies</th>
                <th>Seen</th>
                <th>Last Update</th>
            </tr>
        </thead>
        <tbody>
            {% for topic in forum.topics.all %}
                {% url 'topic_posts' forum.pk topic.pk as topic_url %}
                <tr>
                    <td>
                        <p class="mb-0">
                        <a href="{{ topic_url }}">{{ topic.subject }}</a>
                        </p>
                    </td>
                    <td>{{ topic.opener.username }}</td>
                    <td>{{ topic.replies }}</td>
                    <td>{{ topic.views }}</td>
                    <td>{{ topic.last_updated }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'includes/pagination.html' %}

{% endblock %}